<p>
    <label>Date Offre</label>
    <span class="field">{{ form_widget(form.dateoffre)}}</span>
    {{ form_widget(form._token)}}
    {{ form_widget(form.codeoffre)}}    
</p>

<p>
    <label>Nature Offre</label>
    <span class="field">{{ form_widget(form.natureoffre) }}</span>
</p>

<p>
    <label>Montant Proposé</label>
    <span class="field">{{ form_widget(form.montantpropose) }}</span>
</p>

<p>
    <label>Monnaie Remboursement</label>
    <span class="field">{{ form_widget(form.monnaieremboursement) }}</span>
</p>

<p>
    <label>Taux Directeur</label>
    <span class="field">{{ form_widget(form.tauxdirecteur) }}</span>
</p> 

<p>
    <label>Marge</label>
    <span class="field">{{ form_widget(form.marge) }}</span>
</p> 

<p>
    <label>Demande</label>
    <span class="field">{{ form_widget(form.iddemande) }}</span>
</p> 

<p>
    <label>Banque</label>
    <span class="field">{{ form_widget(form.idbanque) }}</span>
</p> 