{% extends "EmpruntBundle::layout.html.twig" %}
{% block title %} {{ parent() }} | Accueil {% endblock %}
{% block centercontent %}
<div class="pageheader notab">
    <h1 class="pagetitle">Gestion des besoins</h1>
    <span class="pagedesc"></span>
</div><!--pageheader-->
<div id="contentwrapper" class="contentwrapper">

    <div class="contenttitle2">
        <h3>Sélectionner un besoin</h3>
    </div><!--contenttitle-->
    <form class="stdform stdform2" method="post" action="#">
    <p>
        <label>Libellé besoin</label>
        <span class="field">
            
            <select onchange="" name="selection" id="besoin_id">
                <option value="0">Sélectionner un besoin</option>
                                {% for entity in entities %}
                <option value="{{ entity.id }}">{{ entity.libelle }}</option>
                                {% endfor %}
            </select>              
        </span>
    </p>
    <div id="form_besoin"></div>

    </form>
    <div id="action_block">
        <p class="stdformbutton">
            <button onclick="location.href='{{ path('AjouterBesoin') }}';" class="stdbtn btn_orange" style="color:white">Ajouter un besoin</button>
        </p>  
    </div>
      
</div><!--contentwrapper-->
{% endblock %}
{% block javascripts %}

<script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery-1.7.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery-ui-1.8.16.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/custom/general.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/custom/besoin.js') }}"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/excanvas.min.js') }}"></script><![endif]-->
<!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
{% endblock %} 
