<ul class="headermenu">
        <li {% if current == 1  %} class="current" {% endif %}><a href="{{ path('funding_opportunities') }}"><span class="icon icon-opportunite"></span>Opportunités de financement</a></li>
        <li {% if current == 2  %} class="current" {% endif %}><a href="{{ path('Projets') }}"><span class="icon icon-projet"></span>Projets</a></li>
        <li {% if current == 3  %} class="current" {% endif %}><a href="{{ path('Contrats') }}"><span class="icon icon-contrat"></span>Contrats</a></li>
        <li {% if current == 4  %} class="current" {% endif %}><a href="{{ path('Remboursements') }}"><span class="icon icon-remboursement"></span>Remboursements</a></li>
        <li {% if current == 5  %} class="current" {% endif %}><a href="{{ path('JoursFeries') }}"><span class="icon icon-joursferies"></span>Jours Fériés</a></li>
        <li {% if current == 6  %} class="current" {% endif %}><a href="{{ path('Etats') }}"><span class="icon etats"></span>Etats</a></li>
        <li {% if current == 7  %} class="current" {% endif %}><a href="{{ path('Utilisateurs') }}"><span class="icon user"></span>Utilisateurs</a></li>
</ul>