{% extends "EmpruntBundle::layout.html.twig" %}
{% block title %} {{ parent() }} | Ajouter Utilisateur {% endblock %}
{% block centercontent %}
<div class="pageheader notab">
    <h1 class="pagetitle">Gestion des utilisateurs</h1>
    <span class="pagedesc"></span>
</div><!--pageheader-->
<div id="contentwrapper" class="contentwrapper elements">
{{ form_errors(form) }} 
    {% if (class_alert !="") %}
    <div class="notibar {{ class_alert }}">
                        <a class="close"></a>
                        <p>{{ notify }}</p>
    </div>
    {% endif %}
    
    <div class="contenttitle2">
        <h3>Ajouter une utilisateur</h3>
    </div><!--contenttitle-->

    <form class="stdform stdform2" method="post" action="{{ path('AjouterUtilisateur') }}" {{ form_enctype(form) }}>
                      
        <p>
            <label>Matricule Utilisateur</label>
            <span class="field">
                {{ form_widget(form._token) }}                
                {{ form_widget(form.matricule) }}
            </span>
        </p>
        
        <p>
            <label>Nom Utilisateur</label>
            <span class="field">{{ form_widget(form.nom) }}</span>
        </p>        

        <p>
            <label>Prénom Utilisateur</label>
            <span class="field">{{ form_widget(form.prenom) }}</span>
        </p>          
        
        <p>
            <label>Profil</label>
            <span class="field">{{ form_widget(form.idprofil) }}</span>
        </p>  
        
        <p>
            <label>Login Utilisateur</label>
            <span class="field">{{ form_widget(form.login) }}</span>
        </p>  
        
        <p>
            <label>Mot de passe Utilisateur</label>
            <span class="field">{{ form_widget(form.motdepasse) }}</span>
        </p>              
      
        <p class="stdformbutton">
            <button class="submit radius2">Ajouter</button>            
            <button class="stdbtn">Retour</button>
        </p>
    </form>

</div><!--contentwrapper-->
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery-1.7.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery-ui-1.8.16.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery.cookie.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/emprunt/js/custom/utilisateur.js') }}"></script>
    <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
{% endblock %} 
