{% extends "EmpruntBundle::layout.html.twig" %}
{% block title %} {{ parent() }} | Accueil {% endblock %}
{% block centercontent %}
<div class="pageheader notab">
    <h1 class="pagetitle">Gestion des utilisateurs</h1>
    <span class="pagedesc"></span>
</div><!--pageheader-->
<div id="contentwrapper" class="contentwrapper">
    {% if (class_alert !="") %}
    <div class="notibar {{ class_alert }}">
        <a class="close"></a>
        <p>{{ notify }}</p>
    </div>
    {% endif %}
    <div class="contenttitle2">
        <h3>Sélectionner une utilisateur</h3>
    </div><!--contenttitle-->
    <form id="user_form" class="stdform stdform2" method="post" action="#">
        <p>
            <label>Réference utilisateur</label>
            <span class="field">

                <select onchange="" name="selection" id="utilisateur_id">
                    <option value="">Sélectionner une utilisateur</option>
                                {% for entity in entities %}
                    <option value="{{ entity.id }}">{{ entity.matricule }}</option>
                                {% endfor %}
                </select>              
            </span>
        </p>
        <div id="form_user"></div>

    </form>
    <div id="action_block">
        <p class="stdformbutton">
            <button class="stdbtn btn_yellow" id="update_form">Modifier</button>  
            <button class="stdbtn btn_blue" id="save_edit">Enregistrer</button>
            <a href="#" class="stdbtn btn_red"  id="delete_form">Supprimer</a>
            <button class="stdbtn" style="float: right;">Retour</button>
        </p>  
    </div>

</div><!--contentwrapper-->
{% endblock %}
{% block javascripts %}

<script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery-1.7.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery-ui-1.8.16.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/custom/general.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/jquery.alerts.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/emprunt/js/custom/utilisateur.js') }}"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ asset('bundles/emprunt/js/plugins/excanvas.min.js') }}"></script><![endif]-->
<!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

{% endblock %} 
