<p>
    <label>Date Demande</label>
    <span class="field">
    {{ form_widget(form.datedemande)}}
    {{ form_widget(form._token)}}
    {{ form_widget(form.refdemande)}}
</span>
</p>
<p>
    <label>Nature Demande</label>
    <span class="field">{{ form_widget(form.natureoperation) }}</span>
</p>

<p>
    <label>Montant Crédit</label>
    <span class="field">{{ form_widget(form.montantcredit) }}</span>
</p>


<p>
    <label>Durée Crédit</label>
    <span class="field">{{ form_widget(form.dureecredit) }}</span>
</p>

<p>
    <label>Monnaie Crédit</label>
    <span class="field">{{ form_widget(form.monnaiecredit) }}</span>
</p> 
